
<body>
  <%- include('portials/header') -%>

  <div id="container-fluid">
    <div class="row">

      <div class="intro-sec">


        <div class="intro-header">
          <h2>Learn More jsjhahkhakhsajshkshkjhdakjhshskjhs ijasdlaja...</h2>
        </div>
        <div class="intro-footer">
          <p>sajhashkjass shhjshjahshja jjskjjajjdjdjdj ksksksskjj ksjjsjkks hjhhkjhjk</p>
          <div class="intro-btn">
            <button type="button" class="register-pop btn btn-primary btn-lg">
              <span class="get-start">Get Started</span>
            </button>
            <%- include('register') -%>
          </div>
        </div>

      </div>


    </div>

      <div id="carouselExampleIndicators" class="card-categories carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cat-card">
              <img class="card-img-top" src="images/brain-map.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="font-size:2rem;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary btn-lg" style="float:right">Learn more</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cat-card">
              <img class="card-img-top" src="images/brain-map.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="font-size:2rem;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary btn-lg" style="float:right">Learn more</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cat-card">
              <img class="card-img-top" src="images/brain-map.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text" style="font-size:2rem;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary btn-lg" style="float:right">Learn more</button>
              </div>
            </div>
          </div>
      </div>


<%- include('portials/footer') -%>
      </div>


</body>
