<div class="dropdown">
  <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="exploreMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Explore
  </button>
  <div class="dropdown-menu" aria-labelledby="exploreMenu">
    <span class="drop-option"><a class="dropdown-item" href="#carouselExampleIndicators">Action</a></span>
    <span class="drop-option"><a class="dropdown-item" href="#">Another action</a></span>
    <span class="drop-option"><a class="dropdown-item" href="#">Something else here</a></span>
  </div>
</div>
</nav>
<nav class="navbar navbar-light bg-light">
<form class="form-inline">
  <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="height:4rem;width:40rem;">
  <button class="btn btn-outline-success btn-lg my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>
</div>
</div>
